<div class="ui two column stackable padded grid">
  <div class="column">
    <%= render partial: 'owner/main' %>
  </div>
  <div class="column">
    <%= render partial: 'projects/main' %>
  </div>
</div>
