<aside class="column">
  <%= image_tag 'profile', class: 'ui rounded centered medium image' %>
	<h1 class="ui center aligned header" id="main-header">Santiago Rodríguez</h1>
	<p id="lead-paragraph">
	I'm a full-stack Ruby on Rails developer experienced with
	basic web technologies (HTML, CSS and JavaScript), Ruby,
	and React.
	</p>
  <%= render partial: 'contact_links' %>
</aside>
