<aside class="column">
	<h1 class="ui center aligned header" id="main-header">Santiago Rodríguez</h1>
	<p id="lead-paragraph">
	I'm a full-stack Ruby on Rails developer experienced with
	basic web technologies (HTML, CSS and JavaScript), Ruby,
	and React.
	</p>
	<div class="ui list">
		<div class="item">
			<i class="marker icon"></i>
			<div class="content">
				Caracas, Venezuela
			</div>
		</div>
		<div class="item">
			<i class="mail icon"></i>
			<div class="content">
				<a href="mailto:santo1996.29@gmail.com" target="_blank">santo1996.29@gmail.com</a>
			</div>
		</div>
		<div class="item">
			<i class="linkify icon"></i>
			<div class="content">
				<a href="https://github.com/santiago-rodrig" target="_blank">github profile</a>
			</div>
		</div>
		<div class="item">
			<i class="linkify icon"></i>
			<div class="content">
				<a href="https://www.linkedin.com/in/santiago-andres-rodriguez-marquez/" target="_blank">linkedin profile</a>
			</div>
		</div>
	</div>
</aside>
