<div class="ui buttons">
  <%= link_to 'Edit', edit_project_path(project), class: 'ui button' %>
  <div class="or"></div>
  <button type="button" class="ui red button delete-btn" data-project-id="<%= project.id %>" data-url="<%= url_for(project_url(project)) %>">Delete</button>
  <%# <%= link_to 'Delete', project_path(project), method: :delete, class: 'ui red button', remote: true, data: { confirm: 'Are you sure?' } %1> %>
</div>
