<main class="sixteen wide mobile column">
  <h2 class="ui aligned center header">Some of my projects</h2>
  <%=
    render(
      partial: 'project',
      locals: {
        title: 'Social network using Rails 5',
        description: 'This project was made using the devise gem and Bootstrap 3, I personally think that the part that is more appealing is the source code, but that is only true if you are a geek like me. This application basically implements basic features for a social network where you post things, peoples likes them, you have friends, etc.',
        repo_url: 'https://github.com/santiago-rodrig/facebug',
        site_url: 'https://facebug-srodrig.herokuapp.com',
        img: 'facebug.gif'
      }
    )
  %>
</main>
