<div class="ui container grid">
  <div class="sixteen wide column">
    <h1 class="ui aligned center header">Manage your projects from here</h1>
  </div>
  <div class="sixteen wide column">
    <div class="ui two column stackable grid">
      <%= render_projects @projects %>
    </div>
  </div>
</div>
