<main class="ui container grid">
  <div class="sixteen wide column">
    <h1 class="ui aligned center header">
      Tweak your profile!
    </h1>
  </div>
  <div class="sixteen wide column">
    <%= render partial: 'shared/errors', locals: { object: @owner } %>
  </div>
  <div class="sixteen wide column">
    <%= render partial: 'form', locals: { update: true } %>
  </div>
</main>
