// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#projects-box {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 12rem;
}

#lead-paragraph {
  font-size: 1.3rem;
}

#projects-heading {
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  font-size: 3rem;
  @media only screen and (min-width: 768px) {
    margin-top: 3rem;
  }
}

.project-heading {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
