// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#projects-box {
  max-height: 85vh;
  overflow: auto;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

#lead-paragraph {
  font-size: 1.3rem;
}
