<footer class="ui three column padded grid">
  <div
    class="sixteen wide mobile three wide tablet three wide computer red column"
    id="footer-header-box">
    <h2 class="ui center aligned header">Feeling curious?</h2>
  </div>
  <div class="sixteen wide mobile seven wide tablet seven wide computer red column">
    <p>
    Do you want to know how this was built? Or how is this working
    from behind? It may look like a static page, but actually is
    database backed, is a living portfolio!
    </p>
    <p>
    Here you have a list of hints, they are in order. Probably you
    will guess how is this portfolio working just by reading
    the first 2 or something like that.
    </p>
  </div>
  <div class="sixteen wide mobile six wide tablet six wide computer red column">
    <div class="ui ordered list">
      <code class="item">Project.active_projects</code>
      <code class="item">rails active_storage:install</code>
      <code class="item">User.count == 1 # =&gt; true</code>
      <code class="item">project.toggle!(:foo)</code>
      <code class="item">render partial: 'foo', collection: @bars</code>
      <code class="green item">
        <%= link_to 'you.should_look @the_source_code',
          'https://github.com/santiago-rodrig/portfolio', target: '_blank' %>
      </code>
    </div>
  </div>
</footer>
