  <footer id="no-logged-footer">
    <div id="linkedin-badge" class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="santiago-andres-rodriguez-marquez"><a class="LI-simple-link" href='https://ve.linkedin.com/in/santiago-andres-rodriguez-marquez/en-us?trk=profile-badge'>Santiago Rodriguez</a></div>
    <p id="no-logged-copyright">
      Copyright &copy; Santiago Rodriguez.
    </p>
  </footer>
